[submodule "solar-theme-hugo"]
	path = solar-theme-hugo
	url = https://github.com/bake/solar-theme-hugo.git
[submodule "themes/solar-theme-hugo"]
	path = themes/solar-theme-hugo
	url = https://github.com/bake/solar-theme-hugo.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
